:root {
  --primery-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --color-text: #434455;
  --color-hover: #404bbf;
  --color-link: #2e2f42;
  --color-logo: #4D5AE5;
  --color-customers: #8E8F99;
  --color-footer: #F4F4FD;
  --color-white: #FFFFFF;
  --color-border: #e7e9fc;
  --color-icon-hover: #31d0aa;
  --color-shadow: rgba(46, 47, 66, 0.08);
  --color-shadow-dark: rgba(46, 47, 66, 0.16);
  --color-modal: #FCFCFC;
}

body {
  font-family: var(--primery-font);
  color: var(--color-text);
  background-color: #FFFFFF;
}

/* ------Defolding styles------ */
.list {
  list-style: none;
}

.link {
  text-decoration: none
}

h1,
h2,
h3,
h4,
h5,
h6 p,
ol,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

/* ------Media for mobile------- */
@media screen and (min-width: 428px) {
  .container {
    width: 426px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 767px) {
  .menu {
    display: none;
  }

  .contacts {
    display: none;
  }
}

@media screen and (min-width: 767px) {
  .mobile-menu-open {
    display: none;
  }
}

/* -----Media for tablet------- */
@media screen and (min-width: 768px) {
  .container {
    width: 766px;
  }

  .mobile-menu {
    display: none;
  }
}

/* -----Media for desktop------ */
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1158px;
    width: 100%;
  }
}

/* =================Header================== */
.page-header {
  padding-top: 24px;
  padding-bottom: 22px;
  border-bottom: 1px solid var(--color-border);
  box-shadow: 0px 2px 1px var(--color-shadow), 0px 1px 1px var(--color-shadow-dark), 0px 1px 6px var(--color-shadow);
}

.container-head-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--color-logo);
}

.studio-logo {
  color: var(--color-link);
}

.mobile-menu-open {
  border: none;
  background-color: transparent;
  padding: 0;
  line-height: 0;
}

.mobile-icon {
  stroke: black;
  stroke-width: 4px;
}

/* To 767px */
@media screen and (max-width: 767px) {
  .menu {
    display: none;
  }

  .contacts {
    display: none;
  }
}

/* From 768 + */
@media screen and (min-width: 768px) {
  .container-head-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .navigation {
    display: flex;
    align-items: center;
  }

  .menu {
    display: flex;
    align-items: center;
  }

  .menu-item:not(:last-child) {
    margin-right: 40px;
  }

  .contacts {
    font-style: normal;
  }

  .menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-link);
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), text-decoration 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .menu-link:hover,
  .menu-link:focus {
    color: var(--color-hover);
    text-decoration: underline;
  }

  .line-link::after {
    content: "";
    position: absolute;
    bottom: 0;
    display: block;
    width: 48px;
    height: 4px;
    border-radius: 2px;
    background-color: var(--color-hover);
  }
}

/* From 768 to 1200 */
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .flex-logo {
    margin-right: 120px;
  }

  .contact-mail {
    display: block;
  }

  .mail {
    margin-bottom: 12px;
  }

  .page-header {
    padding-top: 16px;
    padding-bottom: 16px;

  }

  .contact-mail {
    font-style: normal;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: var(--color-text);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .contact-mail:hover,
  .contact-mail:focus {
    color: var(--color-hover);
  }
}

/* From 1200 and + */
@media screen and (min-width: 1200px) {
  .flex-logo {
    margin-right: 76px;
  }

  .menu-contact {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .contact-mail {
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-text);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .contact-mail:hover,
  .contact-mail:focus {
    color: var(--color-hover);
  }

  .page-header {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}


/* ===========Mobile menu=========== */
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* min-height: 796px; */
  z-index: 1000;
  background-color: #FFFFFF;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  visibility: hidden;
  visibility: hidden;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu_container {
  position: relative;
  padding-top: 80px;
  padding-bottom: 40px;
  padding-left: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  overflow-y: auto;
}

.mobile-item_content {
  display: flex;
  flex-direction: column;
}

.mobile-menu_item {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mobile-close-btn {
  position: absolute;
  top: 24px;
  right: 15px;
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
}

.mobile-wrapper-flex {
  display: flex;
  flex-direction: column;
}

.mobile-link {
  font-size: 36px;
  line-height: 1.11;
  font-weight: 700;
  color: #2E2F42;
}

.mobile-link:hover,
.mobile-link:focus {
  color: #404BBF;
}

.mobile-item-contact {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  margin-bottom: 48px;
}

.mobile-link-phone {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  color: #434455;
}

.mobile-link-phone:hover,
.mobile-link-phone:focus {
  color: #4D5AE5;
}

.mobile-link-email {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #434455;
}

.mobile-link-email:hover,
.mobile-link-email:focus {
  color: #4D5AE5;
}

.mobile-list-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mobile-link-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--color-logo);
}

.mobile-link-icons:hover,
.mobile-link-icons:focus {
  background-color: var(--color-hover);
}

.mobile-icons {
  fill: var(--color-white);
}

/*=================Section Hero============== */
.hero {
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/background/hero_fon-mobile.jpg);
  background-size: cover;
  background-color: var(--color-customers);
  background-repeat: no-repeat;
  margin: 0 auto;
  padding: 112px 0;
  background-position: center;
  align-items: center;
  max-width: 428px;
  width: 100%;
}

.main-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--color-white);
  margin-bottom: 72px;
}

.style-title {
  max-width: 320px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.btn-order-service {
  display: block;
  font-family: var(--secondary-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--color-white);
  background-color: var(--color-logo);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  border: none;
  margin-right: auto;
  margin-left: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-order-service:hover,
.btn-order-service:focus {
  background-color: var(--color-hover);
  border-radius: 4px;
}

/* To 767 */

@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2),
screen and (max-width: 767px) and (min-resolution: 192dpi),
screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/background/hero_fon-mobile@2x.jpg);
  }
}

/* From 768 + */
@media screen and (min-width: 768px) {
  .main-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: var(--color-white);
  }

  .style-title {
    max-width: 496px;
  }
}

/* From 768 to 1200 */
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/background/hero_fon-tablet.jpg);
    background-size: cover;
    max-width: 768px;
  }

  .main-title {
    margin-bottom: 36px;
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2),
screen and (min-width: 768px) and (min-resolution: 192dpi),
screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/background/hero_fon-tablet@2x.jpg);
  }
}

/* From 1200 and + */
@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/background/hero_fon-desctop.jpg);
    max-width: 1440px;
    padding: 188px 0;
  }

  .main-title {
    margin-bottom: 48px;
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2),
screen and (min-width: 1200px) and (min-resolution: 192dpi),
screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/background/hero_fon-desktop@2x.jpg);
  }
}

/*=====================Section 1======================  */
.advantages {
  padding-top: 96px;
  padding-bottom: 96px;
}

.card-thumb {
  display: none;
}

.fiex-elemens {
  max-width: 396px;
}

.card-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--color-link);
}

.size-style {
  margin-bottom: 8px;
}

.advantages-card-text {
  font-style: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-text);
  margin-top: 0;
  margin-bottom: 0;
}

/* To 767 */
@media screen and (max-width: 767px) {
  .card-title {
    text-align: center;
  }

  .fiex-elemens:not(:last-child) {
    margin-bottom: 72px;
  }
}

/* From 768 to 1200 */
@media screen and (min-width: 768px) and (max-width: 1200px) {

  .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 24px;
    row-gap: 72px;

  }

  .fiex-elemens {
    max-width: 356px;
    width: calc((100% - 24px)/2);
  }
}

/* From 1200 and + */
@media screen and (min-width: 1200px) {
  .advantages {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .card-thumb {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
    background-color: var(--color-footer);
    width: 264px;
    height: 112px;
    align-content: center;
    border-radius: 4px;
  }

  .card-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--color-link);
  }

  .advantages-card-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-text);
  }

  .flex-container {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }

  .fiex-elemens {
    display: flex;
    flex-wrap: wrap;
    width: calc((100% - 72px) / 4);
  }

  .fiex-elemens:nth-last-child(4) {
    margin-right: 0%;
  }
}

/* ==============Section 2================ */
@media screen and (max-width: 1199px) {
  .job-images {
    display: none;
  }
}

/* From 1200 and + */
@media screen and (min-width: 1200px) {

  .flex-container-jobs {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
  }

  .flex-elements-job {
    width: 360px;
  }

  .flex-container-jobs:nth-child(3) {
    margin-right: 0;
  }

  .job-images {
    padding-bottom: 120px;
  }

  .title-about {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--color-link);
    text-align: center;
  }

  .flex-title-about {
    margin-bottom: 72px;
  }
}

/* ===============Section 3==============*/
.team {
  padding-top: 96px;
  padding-bottom: 96px;
  background-color: var(--color-footer);
}

.title-about {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-link);
  text-align: center;
}

.title-flex {
  margin-bottom: 72px;
}

.flex-elements-cards {
  box-shadow: 0px 1px 6px var(--color-shadow),
    0px 1px 1px var(--color-shadow-dark),
    0px 2px 1px var(--color-shadow);
  border-radius: 0px 0px 4px 4px;
  max-width: 264px;
}

.team-content {
  padding: 32px 0;
  background-color: var(--color-white);
}

.team-card-title {
  margin-bottom: 8px;
  text-align: center;
  font-family: var(--primery-font);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-link);
}

.flex-card-text {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

.social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
  padding-left: 16px;
  padding-right: 16px;
}

.team-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--color-logo);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-list-link:hover,
.team-list-link:focus {
  background-color: var(--color-hover);
}

.social-list-icon {
  fill: var(--color-footer);
}

/* To 767px */
@media screen and (max-width: 767px) {
  .flex-elements-cards {
    margin: 0 auto;
  }

  .flex-elements-cards:not(:last-child) {
    margin-bottom: 72px;
  }
}

/* From 768 to 1200 */
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .flex-container-cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    row-gap: 64px;
    column-gap: 24px;
  }
}

/* From 1200 and + */
@media screen and (min-width: 1200px) {
  .team {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .flex-container-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
  }

  .flex-elements-cards {
    width: calc((100% – 72px)/4);
  }

  .flex-elements-cards:nth-child(4) {
    margin-right: 0;
  }
}

/* ================Section=============== 4 */

.customers-section {
  padding-top: 96px;
  padding-bottom: 96px;
}

.customers-title {
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-link);
  margin-bottom: 72px;
}

.customers-social-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 16px;
  row-gap: 72px;
  justify-content: center;
}

.customers-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--color-customers);
  border-radius: 4px;
  color: var(--color-customers);

  height: 88px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-list-item {
  flex-basis: calc((100% - 16px) / 2);
}

.customers-list-link:hover,
.customers-list-link:focus {
  border-color: var(--color-hover);
  color: var(--color-hover);
}

.customers-icons {
  fill: currentColor;
  width: 100%;
  height: 100%;
  max-width: 110px;
  max-height: 56px;
}

/* From 768 to ~ */
@media screen and (min-width: 768px) {
  .customers-icons {
    max-width: 104px;
  }
}

/* From 768 to 1200 */
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .customers-social-list {
    column-gap: 24px;
  }

  .customers-list-item {
    flex-basis: calc((100% - 72px) / 3);
  }
}

/* From 1200 and + */
@media screen and (min-width: 1200px) {
  .customers-section {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .customers-social-list {
    gap: 24px;
    flex-wrap: nowrap;
  }

  .customers-list-item {
    flex-basis: calc((100% - 120px) / 6);
  }
}

/* ===============Footer=============== */
.footer {
  background-color: var(--color-link);
  padding-top: 96px;
  padding-bottom: 96px;
}

.studio-logotype {
  color: var(--color-footer);
}

.flex-footer {
  margin-bottom: 16px;
  display: inline-block;
}

.footer-text {
  font-family: var(--primery-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-transform: initial;
  color: var(--color-footer);
  margin: 0 auto;
}

.text-footer {
  font-family: var(--primery-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-transform: initial;
  color: var(--color-white);
  margin-bottom: 16px;
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--color-logo);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: var(--color-icon-hover);
}

.footer-icons {
  fill: var(--color-footer);
}

.footer-list {
  display: flex;
  align-items: center;
  gap: 16px;
}

.footer-text-contact {
  font-family: var(--primery-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-white);
  text-transform: initial;
  margin-bottom: 16px;
}

.footer-input-email {
  background-color: var(--color-link);
  width: 398px;
  max-width: 100%;
  height: 40px;
  padding-top: 8px;
  padding-left: 16px;
  padding-bottom: 8px;
  font-family: var(--primery-font);
  font-size: 12px;
  line-height: 2;
  color: var(--color-white);
  letter-spacing: 0.04em;
  border: 1px solid var(--color-white);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.footer-input-email:focus {
  outline: none;
}

.footer-btn {
  display: flex;
  gap: 16px;
  width: 165px;
  height: 40px;
  padding: 8px 24px;
  background-color: var(--color-logo);
  font-family: var(--primery-font);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-weight: 500;
  color: var(--color-white);
  border: none;
  border-radius: 4px;
}


.footer-btn-icon {
  fill: var(--color-white);
}

/* To 767px */
@media screen and (max-width: 767px) {
  .flex-footer {
    display: block;
    text-align: center;
  }

  .footer-text {
    display: block;
    width: 268px;
    margin-bottom: 72px;
  }

  .footer-content-logo {
    margin: 0 auto;
  }

  .text-footer {
    text-align: center;
  }

  .footer-list {
    margin-bottom: 72px;
    justify-content: center;
  }

  .footer-text-contact {
    text-align: center;
  }

  .footer-input-email {
    margin-bottom: 16px;
  }

  .footer-btn {
    margin: 0 auto;
  }
}

/* From 768 to ~ */
@media screen and (min-width: 768px) {
  .footer-input-email {
    width: 264px;
  }

  .main-footer-content {
    display: flex;
    align-items: baseline;
  }

  .footer-content-logo {
    max-width: 264px;
    min-height: 112px;
  }

  .footer-content-icons {
    width: 208px;
    height: 80px;
  }

  .footer-form-contact {
    display: flex;
    gap: 24px;
  }
}

/* From 768 to 1200 */
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .customers-social-list {
    column-gap: 24px;
  }

  .portfolio-footer-logo {
    margin-left: 93px;
  }

  .footer-input-wrapper {
    margin-left: 93px;
  }

  .main-footer-content {
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }

  .footer-content-subscribe {
    max-width: 453px;
  }
}

/* From 1200 and +  */
@media screen and (min-width: 1200px) {
  .footer-content-logo {
    margin-right: 120px;
  }

  .footer-content-icons {
    margin-right: 88px;
  }
}

/*============== Portfolio=============== */
.page-header {
  position: relative;
}

.portfolio-section {
  padding-top: 48px;
  padding-bottom: 48px;
}

.all-btn {
  height: 40px;
  font-family: var(--primary-font);
  color: var(--color-logo);
  background-color: var(--color-footer);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.flex-button {
  padding: 8px 16px;
  border: 1px solid var(--color-border);
}

.flex-button:hover,
.flex-button:focus {
  border: 1px solid transparent;
}

.all-btn:hover,
.all-btn:focus {
  color: var(--color-white);
  background-color: var(--color-hover);
}

.portfolio-list-btn {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 24px;
  row-gap: 16px;
  margin-bottom: 48px;
}

.flex-cards {
  position: relative;
  display: block;
  transition: transform 500ms linear;
  border: 1px solid var(--color-footer);
}

.flex-cards:hover .overlay {
  transform: translate(0, 0);
}

.flex-cards:hover,
.flex-cards:focus {
  box-shadow: 0px 1px 6px var(--color-shadow), 0px 1px 1px var(--color-shadow-dark), 0px 2px 1px var(--color-shadow);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  overflow-y: auto;
  font-size: 16px;
  color: var(--color-footer);
  padding: 40px 32px;
  background-color: var(--color-logo);
  transform: translate(0, 100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay:hover {
  transform: translate(0, 100%);
}

.portfolio-cards-content {
  position: relative;
  overflow: hidden;
}

.flex-container-portfolio {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  border: 1px solid var(--color-border);
  border-top: none;
}

.portfolio-title {
  margin-bottom: 8px;
  font-family: var(--primery-font);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-link);
}

.portfolio-text {
  margin: 0;
  font-family: var(--primery-font);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-text);
}

.portfolio-link {
  display: block;
}

.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 6px var(--color-shadow), 0px 1px 1px var(--color-shadow-dark), 0px 2px 1px var(--color-shadow);
}

/* To 767px */
@media screen and (max-width: 767px) {
  .flex-cards:not(:last-child) {
    margin-bottom: 48px;
  }

  .portfolio-list-btn {
    width: 270px;
  }
}

/* From 768 to 1200 */
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .portfolio-img {
    max-width: 356px;
    height: 300px;
  }

  .portfolio-list-btn {
    justify-content: center;
    margin-bottom: 64px;
  }

  .portfolio-list-cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 24px;
    row-gap: 72px;
  }

  .flex-cards {
    max-width: 356px;
    flex-basis: calc((100%-24px)/2);
  }

  .flex-cards:not(:last-child) {
    justify-content: center;
  }
}

/* From 768 to ~ */
@media screen and (min-width: 768px) {
  .portfolio-line::after {
    content: "";
    position: absolute;
    margin-top: 20px;
    bottom: 0;
    display: block;
    width: 66px;
    height: 4px;
    border-radius: 2px;
    background-color: var(--color-hover);
  }

  .flex-button {
    padding: 12px 24px;
    line-height: 1.1;
  }
}

/* From 1200 and +  */
@media screen and (min-width: 1200px) {
  .portfolio-section {
    padding-top: 100px;
    padding-bottom: 120px;
  }

  .portfolio-list-btn {
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px
  }

  .portfolio-list-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
  }

  .flex-cards {

    max-width: 360px;
    flex-basis: calc((100%-48px)/3);
  }

  .flex-cards:nth-child(3n) {
    margin-right: 0;
  }

  .flex-cards:nth-last-child(-n+3) {
    margin-bottom: 0;
  }
}

/* ================Modal=================== */

.backdrop {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.2);
}

.modal {
  width: 100%;
  max-width: 392px;
  /* min-height: 586px; */
  background-color: var(--color-modal);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}

.modal:hover {
  transform: translate(-50%, -50%);
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-border);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  border-color: var(--color-hover);
}

.modal-close-btn-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover .modal-close-btn-icon .modal-close-btn:focus .modal-close-btn-icon {
  fill: var(--color-text);
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-text {
  text-align: center;
  margin: 0 0 16px 0;
  font-family: var(--primery-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-link);
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  margin-bottom: 8px;
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-comment {
  width: 100%;
  height: 120px;
  margin-bottom: 16px;
  padding: 8px 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-comment:focus {
  outline: none;
  border-color: var(--color-logo);
}

.modal-form-comment::placeholder {
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.modal-form-desc {
  font-family: var(--primery-font);
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 4%;
  color: var(--color-customers);
  margin-left: 8px;
}

.modal-form-link {
  font-family: var(--primery-font);
  font-size: 12px;
  color: #4D5AE5;
}

.modal-form-text {
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: var(--color-customers);
  margin-bottom: 4px;
  display: block;
}

.modal-form-tx {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--color-customers);
  margin-bottom: 4px;
  display: block;
}

.modal-input-checkbox {
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
}

.modal-form-check::before {
  content: '';
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

.modal-input-checkbox:checked+.modal-form-check::before {
  background-color: var(--color-hover);
  background-image: url(../images/sign.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
}

.modal-input-person {
  position: relative;
  display: block;
}

.modal-input-phone {
  position: relative;
  display: block;
}

.modal-input-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translate(0, -60%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-email {
  position: relative;
  display: block;
}

.modal-form-input:focus {
  outline: none;
  border-color: var(--color-logo);
}

.modal-form-input:focus+.modal-input-icon {
  fill: var(--color-logo);
}

.modal-btn-send {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 24px;
  width: 169px;
  height: 56px;
  background-color: var(--color-logo);
  color: var(--color-white);
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 16px 32px;
}

/* From 768 to ~ */
@media screen and (min-width: 768px) {
  .modal {
    width: 408px;
  }
}

/* From 1200 and +  */
@media screen and (min-width: 1200px) {
  .modal {
    min-height: 584px;
  }
}